body {
  height: 100vh;
}
header {
  margin-bottom: 0;
}

main {
  flex: 1 0 auto;
}
.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}
footer {
  flex: 0 0 auto;
}
.needed {
  top: 70px;
}
.active a {
  color: #f14a58;
}
.back-to {
  padding: 21px 0 21px 10px;
  font-size: 12px;
  font-weight: 700;
  display: inline-block;
}
/* 
  font-family: "Roboto", sans-serif;
  font-family: "Open Sans", sans-serif;
*/
.catalog {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding-top: 60px;
}
/* 
.item:nth-of-type(2n){
  margin-left: 5%
} */

.mobile,
.laptop,
.desctop {
  width: 100%;
}
.sale-adv {
  text-align: center;
  margin-bottom: 73px;
  margin-top: 5px;
}
.sale-adv h3 {
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 22px;
  line-height: 34px;
}
.sale-adv h3 span {
  color: #f14a58;
}
.sale-adv p {
  font-family: "Times New Roman", Times, serif;
  font-style: italic;
  font-size: 14px;
  font-weight: 400;
  line-height: 28px;
}
.show-more {
  width: 220px;
  height: 62px;
  background: #ffffff;
  border: 1px solid #e5e5e5;
  font-size: 18px;
  font-weight: 700;
  margin: 0 auto 100px auto;
  display: block;
}
.item {
  margin-bottom: 54px;
}
/* filters */
.filters-bar {
  padding: 21px 30px 21px 30px;
  position: relative;
  cursor: pointer;
  margin-top: 70px;
}
.second {
  margin-top: 0;
}
.filters-bar h3 {
  font-size: 13px;
  font-weight: 700;
  white-space: nowrap;
  overflow: hidden;
  padding-right: 30px;
  line-height: 120%;
}
.active-filter {
  color: #f14a58;
}
.filters-bar + .hr {
  display: none;
}
.filters-bar img,
.btn-open {
  position: absolute;
  padding: 5px;
  background: #ffffff;
  right: 20px;
  top: 14px;
}
.btn-open {
  transform: rotate(-90deg);
  right: 26px;
  top: 16px;
}
.filters {
  display: none;
  flex-wrap: wrap;
}
.visible {
  display: flex !important;
}
.hidden {
  display: none;
}
.filters__item {
  width: 50%;
  position: relative;
  padding-top: 40px;
  cursor: pointer;
  max-height: 100%;
}
.filters__item-bg {
  background: #ffffff;
}
.filters__item::after {
  display: none;
  top: 34%;
  right: 9%;
  transform: rotate(-90deg);
  position: absolute;
  content: "\2039";
}
.filters-item__title,
.filters-item__selected {
  font-size: 17px;
  font-weight: 700;
  padding-left: 18px;
  font-family: "Roboto", sans-serif;
}
.filters-item__title {
  margin-bottom: 25px;
  padding-left: 0px;
}
.filters-item__selected {
  display: none;
  color: #f14a58;
  font-family: "Open Sans", sans-serif;
  margin-bottom: 4px;
}
.filters-item__radio {
  display: flex;
  position: static;
  z-index: 999;
  width: 100%;
  background: #ffffff;
  flex-direction: column;
  top: 100%;
  border-top: none;
}
.filters-item__radio input {
  display: none;
  width: 0;
}
.filters-item__radio input:checked + label {
  color: #f14a58;
}
.filters-item__radio input:checked + label:first-of-type {
  color: #000000;
}
.filters-item__radio label {
  font-size: 14px;
  transition: 0.3s all;
  font-weight: 700;
  cursor: pointer;
  margin-bottom: 20px;
  color: #a8a8a8;
}
.filters-item__radio label::before {
  content: "\2022";
  margin-right: 25px;
}
.filters__item:hover .filters-item__radio {
  border-top: none;
}
.filters__item:hover .filters-item__radio label {
  font-size: 14px;
  padding: 0;
}
.filters-item__radio label:hover {
  color: #f14a58;
}
@media (min-width: 768px) {
  .back-to {
    padding: 24px 0 24px 20px;
    font-size: 16px;
  }
  .second {
    margin-top: 0;
  }
  .needed {
    top: 117px;
  }
  .catalog {
    justify-content: space-between;
  }
  .item {
    margin-bottom: 82px;
  }
  .show-more {
    width: 260px;
    height: 70px;
    font-size: 20px;
  }
  .filters-bar {
    padding: 25px 50px 25px 50px;
    margin-top: 118px;
  }
  .btn-open,
  .filters-bar img {
    top: 19px;
    right: 40px;
  }
  .filters-bar h3 {
    font-size: 14px;
  }
  .filters__item {
    width: 33.33%;
    padding-top: 50px;
  }
  .sale-adv {
    margin-bottom: 100px;
  }
  .sale-adv h3 {
    font-size: 20px;
    line-height: 34px;
    padding: 0 54px;
  }
  .sale-adv p {
    font-size: 16px;
    line-height: 30px;
    padding: 0 54px;
  }
}
@media (min-width: 1024px) {
  .show-more {
    width: 340px;
    height: 90px;
    font-size: 24px;
  }
  .needed {
    top: 116px;
  }
  .second {
    margin-top: 116px;
  }
  .filters {
    display: flex;
  }
  .filters-bar {
    display: none;
    margin-top: 0;
  }
  .filters-bar + .hr {
    display: block;
  }
  header .hr:nth-child(2) {
    /* display: none; */
  }
  .filters__item {
    width: 16.66%;
    max-height: 65px;

    padding: 24px 0;
  }
  .filters__item-bg-white {
    background: #ffffff;
  }
  .filters__item-bg-dark {
    background: #e5e5e5;
  }
  .filters-item__title {
    margin-bottom: 0;
    font-size: 16px;
    padding-left: 18px;
  }
  .filters-item__selected {
    display: block;
  }
  .filter-selected {
    margin-top: -8px;
    font-size: 12px;
  }
  .filters__item::after {
    display: block;
  }
  .filters-item__radio {
    position: absolute;
    border: 1px solid #e5e5e5;
    border-top: none;
  }
  .filters__item:hover .filters-item__radio {
    border-top: 1px solid #e5e5e5;
  }
  .filters__item:hover .filters-item__radio label {
    padding: 10px 18px;
    font-size: 12px;
  }
  .filters-item__radio input:checked + label {
    background: #e5e5e5;
  }
  .filters-item__radio label {
    font-size: 0;
    margin-bottom: 0;
    color: #000000;
  }
  .filters-item__radio label:hover {
    background: #e5e5e5;
  }
  .filters-item__radio label::before {
    content: "";
    margin-right: 0;
  }
  .sale-adv h3 {
    font-size: 24px;
    line-height: 100%;
    padding: 0;
  }
  .sale-adv p {
    line-height: 100%;
    padding: 0;
  }
}
