header {
  margin-bottom: 0;
}
.back-to {
  padding: 21px 0 21px 10px;
  font-size: 12px;
  font-weight: 700;
  display: inline-block;
}
/* 
font-family: "Roboto", sans-serif;
font-family: "Open Sans", sans-serif;
*/
/* main */
main {
  padding-top: 60px;
}
.good {
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 100px;
}
.good__preview,
.good__info {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}
.full-img,
.small-img {
  display: flex;
  width: 100%;
}
.small-img {
  flex-direction: row;
  cursor: pointer;
}
.full-img img,
.small-img img {
  width: 100%;
  display: block;
  height: 100%;
}
.small-img div{
  width: 33.33%;
}
.dark{
  position: relative;
}
.dark::before{
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  background: rgba(0, 0, 0, 0.699);
}
.good-info {
  padding-top: 50px;
  flex-direction: column;
  flex-wrap: nowrap;
  text-align: center;
}
.good-info__title {
  font-family: "Roboto", sans-serif;

  font-size: 20px;
  font-weight: 700;
  margin-bottom: 29px;
  order: -3;
}
.good-info__desc {
  font-family: "Times New Roman", Times, serif;
  font-style: italic;
  font-size: 14px;
  font-weight: 400;
  line-height: 23px;
  order: -1;
  max-width: 430px;
  margin: 0 auto 50px auto;
}
.good-info__price {
  font-family: "Roboto", sans-serif;

  font-size: 18px;
  font-weight: 400;
  margin-bottom: 29px;
  order: -2;
}
.good-info__size,
.good-info__color {
  font-size: 12px;
  font-weight: 400;
  font-family: "Roboto", sans-serif;
  margin-bottom: 60px;
}
.good-info__color {
  margin-bottom: 90px;
}
.good-info__size span,
.good-info__color span {
  margin-right: 20px;
}
input[type="radio"] {
  display: none;
}
input[type="radio"]:checked + label {
  border: 1px solid #e5e5e5;
}
.good-info__size label,
.good-info__color label {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  font-weight: 700;
  padding: 11px 20px;
  cursor: pointer;
}
.good-info__btn {
  cursor: pointer;
  margin: 0 auto;
  font-size: 20px;
  font-weight: 700;
  width: 220px;
  height: 62px;
  font-family: "Open Sans", sans-serif;
  background: #ffffff;
  border: 1px solid #e5e5e5;
}
.good-info__btn:disabled:hover{
  border: 1px solid #e5e5e5;
  color: gray;
}
/* end section good */
@media (min-width: 768px) {
  .back-to {
    padding: 24px 0 24px 20px;
    font-size: 16px;
  }
  .full-img,
  .small-img {
    display: flex;
    width: 75%;
  }
  .small-img {
    width: 25%;
    flex-direction: column;
  }
  .small-img div {
    width: 100%;
    height: 33.33%;
  }
  .good {
    padding-bottom: 100px;
  }
  .good-info {
    padding-top: 22px;
  }
  .good-info__btn {
    width: 260px;
    height: 70px;
  }
  .good-info__desc {
    margin: 0 auto 50px auto;
  }
}
@media (min-width: 1024px) {
  .good__preview,
  .good__info {
    width: 50%;
  }
  .full-img,
  .small-img {
    width: 100%;
  }
  .small-img {
    flex-direction: row;
  }
  .small-img div{
    height: 100%;
  }
  .small-img img {
    height: 100%;
  }
  .good-info {
    text-align: left;
    padding-left: 50px;
    padding-top: 25px;
  }
  .good-info__title {
    font-size: 26px;
    margin-bottom: 23px;
  }
  .good-info__price {
    order: -1;
    font-size: 25px;
    margin-bottom: 60px;
  }
  .good-info__desc {
    order: -2;
    max-width: 100%;
    font-size: 16px;
    margin: 0 0 50px 0;
  }
  .good-info__size,
  .good-info__color {
    margin-bottom: 50px;
  }
  .good-info__size span,
  .good-info__color span {
    margin-right: 50px;
  }
  .good-info__btn {
    /* margin-left: 119px; */
    width: 340px;
    height: 75px;
    font-size: 24px;
  }
}
/* end main */
